# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=

# Discord Configuration
DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
ADMIN_USER_IDS=
CHANNEL_ID=

# Supabase Configuration
SUPABASE_URL=
SUPABASE_KEY=

# App Configuration
APP_URL=
